[Unit]
Description=Infinoise Service
BindsTo=dev-infnoise.device
After=dev-infnoise.device

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/local/bin/infnoise --dev-random --daemon --pidfile /var/run/infnoise.pid
Restart=always

[Install]
WantedBy=multi-user.target
